SPRING_PROFILES_ACTIVE=dev


SERVER_PORT=8080


SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/stackora?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=你的真实密码

TEST_DB_URL=jdbc:mysql://localhost:3306/stackora_test?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
TEST_DB_USERNAME=root
TEST_DB_PASSWORD=你的真实密码
